
footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 30px 0;
    margin-top: 40px;
    text-align: center;
    font-size: 0.9rem;

    p {
        margin: 0;
        opacity: 0.7;
    }
}