
header {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid #ffe81f; 

    h1 {
        color: #ffe81f;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 1000;
    }
}